# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "c4e2d2c96c34b0695ec94d7787e204cc"
name = "Google Ads Copilot AI"
application_url = "https://aithorapp.co.uk"
embedded = true

[build]
automatically_update_urls_on_dev = false
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products,read_content,write_content,read_themes,write_themes,read_markets,write_markets,read_inventory,write_inventory,read_locations,read_files,write_files"

[auth]
redirect_urls = [
  "https://aithorapp.co.uk/api/auth",
  "https://aithorapp.co.uk/auth/callback",
  "https://aithorapp.co.uk/api/auth/callback",
  "https://aithorapp.co.uk/auth/tokens",
]
